<script src="//unpkg.com/vue/dist/vue.js"></script>
<div id="app">
  <div ref="field" tabindex="1"
       @keyup.38="moveUp"
       @keyup.39="moveRight"
       @keyup.40="moveDown"
       @keyup.37="moveLeft"
  >
    <div v-for="row in height">
      <span v-for="cell in width">
        <input type="checkbox" v-model="cellFilled(row, cell)">
      </span>
    </div>
  </div>
  <hr>
  <input type="button" @click="startGame" v-if="!timer" value="startGame">
  <input type="button" @click="endGame" v-else value="endGame">
  <div>Score: {{snake.length}}</div>
</div>
<script>
const DIR = {
  UP: [-1, 0],
  RIGHT: [0, 1],
  DOWN: [1, 0],
  LEFT: [0, -1]
}

const Main = {
    data: () => ({
      height: 25,
      width: 15,
      dir: DIR.RIGHT,
      snake: [],
      piece: false,
      timer: null
    }),
    methods:  {
      moveUp (e) { this.dir = this.dir == DIR.DOWN? DIR.DOWN : DIR.UP; },
      moveRight (e) { this.dir = this.dir == DIR.LEFT? DIR.LEFT : DIR.RIGHT; },
      moveDown (e) { this.dir = this.dir == DIR.UP? DIR.UP : DIR.DOWN; },
      moveLeft (e) { this.dir = this.dir == DIR.RIGHT? DIR.RIGHT : DIR.LEFT; },
      cellFilled (row, cell) {
        return !!this.snake.find(segment =>
          segment[0] == row && segment[1] == cell
        ) || this.piece && this.piece[0] == row && this.piece[1] == cell
      },
      startGame () {
        this.$refs.field.focus()
        this.dir = DIR.RIGHT
        this.piece = false
        this.snake = [
          [this.height/2|0, this.width/2|0],
          [this.height/2|0, this.width/2|0+1]
        ]
        this.timer = setInterval(this.tick, 200)
      },
      endGame () {
        alert('Game Over')
        this.$refs.field.blur()
        clearInterval(this.timer)
        this.timer = null
      },
      tick () {
        const head = [
          this.snake[0][0]+this.dir[0],
          this.snake[0][1]+this.dir[1]
        ]
        
        //Eat piece
        if (this.piece && head[0] == this.piece[0] && head[1] == this.piece[1]) {
          this.piece = false
        }
        
        //Check collision
        if (
          this.cellFilled(...head) ||
          head[0] < 1 ||
          head[1] < 1 ||
          head[0] > this.height ||
          head[1] > this.width
        ) return this.endGame()
  
        //Move snake
        this.snake.unshift(head)
        if (this.piece) this.snake.pop()

        //Create new piece
        while (!this.piece) {
          const row = (Math.random() * this.height)|0 + 1
          const cell = (Math.random() * this.width)|0 + 1
          if (!this.cellFilled(row, cell)) this.piece = [row, cell]
        }
      }
    }
  }
const App = Vue.extend(Main)
new App().$mount('#app')
</script>
